In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage_resp = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [6]:
soup = BeautifulSoup(webpage_resp, 'lxml')

In [11]:
soup.find_all('h1')[0].text.strip()

'List of companies in India'

In [13]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
HDFC Bank
ICICI Bank
Infosys
Capgemini
HCLTech
Tech Mahindra
Genpact
Axis Bank
Concentrix Corporation
Amazon
Teleperformance
Reliance Jio
IBM
Larsen & Toubro Limited
Reliance Retail
HDB Financial Services
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [14]:
len(soup.find_all('h2'))

24

In [19]:
len(soup.find_all('div', class_= 'companyCardWrapper__companyRatingWrapper'))

20

In [20]:
company = soup.find_all('div', class_='companyCardWrapper')

In [21]:
len(company)

20

In [58]:
name = []
rating = []
reviews = []
company_desc = []

for i in company:
    name.append((i.find('h2').text.strip()))
    rating.append(i.find('div', class_= 'companyCardWrapper__companyRatingWrapper').text.strip())
    reviews.append(i.find('span', class_= 'companyCardWrapper__ActionCount').text.strip())
    company_desc.append(i.find('div', class_= 'companyCardWrapper__interLinkingWrapper').text.strip())
    
df = {'Name':name, 'Rating':rating, 'No. of Reviews':reviews, 'Description':company_desc}
final_df = pd.DataFrame(df)

In [59]:
final_df

,Name,Rating,No. of Reviews,Description
0,TCS,3.8,69.6k,IT Services & Consulting | 1 Lakh+ Employees |...
1,Accenture,4.0,44.1k,IT Services & Consulting | 1 Lakh+ Employees |...
2,Cognizant,3.9,39.7k,IT Services & Consulting | 1 Lakh+ Employees |...
3,Wipro,3.8,37.1k,IT Services & Consulting | 1 Lakh+ Employees |...
4,HDFC Bank,3.9,31.9k,Banking | 1 Lakh+ Employees | Public | 29 year...
5,ICICI Bank,4.0,31.8k,Banking | 1 Lakh+ Employees | Public | 29 year...
6,Infosys,3.9,30.1k,IT Services & Consulting | 1 Lakh+ Employees |...
7,Capgemini,3.8,28k,IT Services & Consulting | 1 Lakh+ Employees |...
8,HCLTech,3.7,26.8k,IT Services & Consulting | 1 Lakh+ Employees |...
9,Tech Mahindra,3.7,26.2k,IT Services & Consulting | 1 Lakh+ Employees |...
10,Genpact,3.9,25k,IT Services & Consulting | 1 Lakh+ Employees |...
11,Axis Bank,3.8,20.9k,Banking | 50k-1 Lakh Employees | Public | 30 y...
12,Concentrix Corporation,3.9,20.7k,BPO | 50k-1 Lakh Employees | Public | 40 years...
13,Amazon,4.1,19.9k,Internet | 1 Lakh+ Employees | Public | 29 yea...
14,Teleperformance,3.5,19.6k,BPO | 50k-1 Lakh Employees | Forbes Global 200...
15,Reliance Jio,3.9,19k,Telecom | 50k-1 Lakh Employees | Public | 16 y...
16,IBM,4.1,18.9k,Software Product | 1 Lakh+ Employees | Public ...
17,Larsen & Toubro Limited,4.0,17.8k,Engineering & Construction | 10k-50k Employees...
18,Reliance Retail,3.9,17.4k,Retail | 1 Lakh+ Employees | 17 years old | Na...
19,HDB Financial Services,4.0,17k,NBFC | 1 Lakh+ Employees | 16 years old | Ahme...

In [43]:
rating

['3.8',
 '4.0',
 '3.9',
 '3.8',
 '3.9',
 '4.0',
 '3.9',
 '3.8',
 '3.7',
 '3.7',
 '3.9',
 '3.8',
 '3.9',
 '4.1',
 '3.5',
 '3.9',
 '4.1',
 '4.0',
 '3.9',
 '4.0']

In [47]:
reviews

['69.6k',
 '44.1k',
 '39.7k',
 '37.1k',
 '31.9k',
 '31.8k',
 '30.1k',
 '28k',
 '26.8k',
 '26.2k',
 '25k',
 '20.9k',
 '20.7k',
 '19.9k',
 '19.6k',
 '19k',
 '18.9k',
 '17.8k',
 '17.4k',
 '17k']

In [60]:
final_df.shape

(20, 4)

In [68]:
total_final_df = pd.DataFrame()

for j in range(1,200):
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage_resp = requests.get(url, headers=headers).text
    soup = BeautifulSoup(webpage_resp, 'lxml')
    company = soup.find_all('div', class_='companyCardWrapper')
    name = []
    rating = []
    reviews = []
    company_desc = []

    for i in company:
        name.append((i.find('h2').text.strip()))
        rating.append(i.find('div', class_= 'companyCardWrapper__companyRatingWrapper').text.strip())
        reviews.append(i.find('span', class_= 'companyCardWrapper__ActionCount').text.strip())
        company_desc.append(i.find('div', class_= 'companyCardWrapper__interLinkingWrapper').text.strip())
    
    df = {'Name':name, 'Rating':rating, 'No. of Reviews':reviews, 'Description':company_desc}
    final_df = pd.DataFrame(df)

    total_final_df = pd.concat([total_final_df, final_df], ignore_index = True)

In [70]:
total_final_df

,Name,Rating,No. of Reviews,Description
0,TCS,3.8,69.6k,IT Services & Consulting | 1 Lakh+ Employees |...
1,Accenture,4.0,44.1k,IT Services & Consulting | 1 Lakh+ Employees |...
2,Cognizant,3.9,39.7k,IT Services & Consulting | 1 Lakh+ Employees |...
3,Wipro,3.8,37.1k,IT Services & Consulting | 1 Lakh+ Employees |...
4,HDFC Bank,3.9,31.9k,Banking | 1 Lakh+ Employees | Public | 29 year...
...,...,...,...,...
3975,Chennai Petroleum Corporation,4.5,178,Oil & Gas | 1k-5k Employees | Public | 58 year...
3976,Fidelis Technology Services,3.7,178,IT Services & Consulting | 1k-5k Employees | 1...
3977,Vacmet India,4.1,178,Packaging | 501-1k Employees | Public | 30 yea...
3978,Malabar Group Of Companies,3.9,178,Jewellery | 1k-5k Employees | 30 years old | C...
3979,KiwiTech,3.5,178,IT Services & Consulting | 501-1k Employees | ...